doctype html
html(lang="en")
  head
    title Jugando y aprendiendo  }
    meta (charset="utf-8")
    link (href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")  
    link (href="stylesheet" href="css/main.css")
    link (href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css")
    link (href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css")
  body
    h1 Hola mundo
    